.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  margin: 0 auto;
  width: 1060px;
}

.logo {
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.btnCart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid transparent;
}

.btnCart:hover svg path {
  fill: #111;
  transition: 0.4s;
}
